{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}

<!-- Main -->


<div class="jumbotron">
    <div class="container">
                <br/>
    <h2>Classically Inspired</h2>
        <h3 class="text-muted">American Art Deco</h3>
        <br/>
            <p>Our building was designed by the renowned architect Allen Redman in the 1950s and is one of the few
                that is still in operation today. The apartment has been featured in numerous films such as My Girl
                Friday and Breakfast At Tiffany's. Come and live in this timeless classic design and luxurious beauty
                that can only be found here. There is never a dull moment. Minutes away is the town center that is the
                Epcot for all things wonderful.</p>

                <br/>
    </div>
</div>




<!--Article 1 -->


<br/>

<div class="container">
<div class="card-deck">
  <div class="card shadow-lg">
    <img class="card-img-top" src="../static/images/7.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card shadow-lg">
    <img class="card-img-top" src="../static/images/8.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card shadow-lg">
    <img class="card-img-top" src="../static/images/9.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

</div>

<br/><br/><br/>
<br/>

<!-- Tour -->

  <div class="jumbotron">
    <div class="container">
      <h4 class="display-5">First Time Renter?</h4>
        <h5 class="text-muted">Learn About The Rental Process</h5>
          <p>
                    <ul>
                        <li><a href="https://www.marylandattorneygeneral.gov/Pages/CPD/landlords.aspx">Your Rights and Responsibilities</a></li>
                        <li><a href="https://www.apartments.com/blog/first-time-apartment-renter-tips">Tips for First Time Renters</a></li>
                        <li><a href="https://insurance.maryland.gov/Consumer/Documents/publications/rentersinsurance.pdf">Renter's Insurance</a></li>
                        <li><a href="https://www.downtownannapolis.org/">Downtown Annapolis</a></li>
                    </ul>
    </div>
  </div>

{% endblock %}