<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Yorkshire Residential Community | About Us</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>




<!-- Navigation Bar -->


 <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/"><img src="../static/images/logo.svg" width="25" height="25" class="d-inline-block align-top" alt=""> Yorkshire Residential Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2 my-2 form-control-sm" type="text" placeholder="Username" aria-label="Search">
        <input class="form-control mr-sm-2 my-2 form-control-sm" type="password" placeholder="Password" aria-label="Search">
        <button class="btn btn-secondary my-2 btn-sm" type="submit">Login</button>
      </form>
    </div>
 </nav>




<!-- Navigation Menu -->


<div class="container">
    <br />
    <div class="nav-scroller py-1 mb-0 mt-2">
        <nav class="nav d-flex justify-content-between mt-5">
          <a class="p-2 text-muted" href="/">Home</a>
          <a class="p-2 text-muted" href="/aboutus">About Us</a>
          <a class="p-2 text-muted" href="/properties">Property Listings</a>
          <a class="p-2 text-muted" href="/apply">Apply Today</a>
          <a class="p-2 text-muted" href="/login">Resident Login</a>
        </nav>
    <br />
    </div>

</div>




<!-- Main -->


<div class="jumbotron">
    <div class="container">
                <br/>
    <h2>Classically Inspired</h2>
        <h3 class="text-muted">American Art Deco</h3>
        <br/>
            <p>Our building was designed by the renowned architect Allen Redman in the 1950s and is one of the few
                that is still in operation today. The apartment has been featured in numerous films such as My Girl
                Friday and Breakfast At Tiffany's. Come and live in this timeless classic design and luxurious beauty
                that can only be found here. There is never a dull moment. Minutes away is the town center that is the
                Epcot for all things wonderful.</p>

                <br/>
    </div>
</div>




<!--Article 1 -->


<br/>

<div class="container">
<div class="card-deck">
  <div class="card shadow-lg">
    <img class="card-img-top" src="../static/images/7.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card shadow-lg">
    <img class="card-img-top" src="../static/images/8.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card shadow-lg">
    <img class="card-img-top" src="../static/images/9.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

</div>

<br/><br/><br/>
<br/>

<!-- Tour -->

  <div class="jumbotron">
    <div class="container">
      <h4 class="display-5">First Time Renter?</h4>
        <h5 class="text-muted">Learn About The Rental Process</h5>
          <p>
                    <ul>
                        <li><a href="https://www.marylandattorneygeneral.gov/Pages/CPD/landlords.aspx">Your Rights and Responsibilities</a></li>
                        <li><a href="https://www.apartments.com/blog/first-time-apartment-renter-tips">Tips for First Time Renters</a></li>
                        <li><a href="https://insurance.maryland.gov/Consumer/Documents/publications/rentersinsurance.pdf">Renter's Insurance</a></li>
                        <li><a href="https://www.downtownannapolis.org/">Downtown Annapolis</a></li>
                    </ul>
    </div>
  </div>

<!-- Footer -->

<div class="container">
    <!-- Datetime Begins-->
        <h6 align="center">{{ todaydate }}</h6>
    <!-- Datetime Ends -->
    <p align="center">&copy; 2020 by Francis Bui</p>
<br/>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>