<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>


    <h2>Classically Inspired</h2>

        <h3>American Art Deco</h3>

            <img src="../static/images/8.jpg" alt="" height="400px;">
            <img src="../static/images/7.jpg" alt="" height="400px;">
            <img src="../static/images/9.jpg" alt="" height="400px;">

            <p>Our building was designed by the renowned architect Allen Redman in the 1950s and is one of the few
                that is still in operation today. The apartment has been featured in numerous films such as My Girl
                Friday and Breakfast At Tiffany's. Come and live in this timeless classic design and luxurious beauty
                that can only be found here. There is never a dull moment. Minutes away is the town center that is the
                Epcot for all things wonderful.</p>

            <p>Learn about the rental process:
                <ul>
                    <li><a href="https://www.marylandattorneygeneral.gov/Pages/CPD/landlords.aspx">Your Rights and Responsibilities</a></li>
                    <li><a href="https://www.apartments.com/blog/first-time-apartment-renter-tips">Tips for First Time Renters</a></li>
                    <li><a href="https://insurance.maryland.gov/Consumer/Documents/publications/rentersinsurance.pdf">Renter's Insurance</a></li>
                    <li><a href="https://www.downtownannapolis.org/">Downtown Annapolis</a></li>
                </ul>
            </p>


                    <br />

</body>
</html>