{% extends "base.html" %}
{% block title %}Apply Today{% endblock %}
{% block content %}

<!-- Main -->


<div class="jumbotron">
    <div class="container">
                <br/>
    <h2>Apply Today</h2>
        <h3 class="text-muted">Your First Month is On Us</h3>
        <br/>
            <p>Apply within a week of your tour and we will not only waive the $150 application fee, but will also
            cover your first month's rent. Once your application and approved, you will receive credit on your first
            month. Restrictions apply, speak to a leasing associate for details.</p>
        <br/>
    </div>
</div>




<!--Article 1 -->

<div class="container" style="height: 700px; background-image: url('../static/images/5.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"></div>

<br/>

<!-- Tour -->

  <div class="jumbotron">
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="card my-3">
          <div class="card-body shadow-sm">
            <h5 class="card-title">Get Your First Month Free!</h5>
            <p class="card-text">Requires 12 month contract. Please speak with a leasing agent for details.</p>
            <a href="#" class="btn btn-secondary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card my-3">
          <div class="card-body shadow-sm">
            <h5 class="card-title">Free Parking</h5>
            <p class="card-text">For a limited time we are offering free unlimited garaged parking.</p>
            <a href="#" class="btn btn-secondary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

{% endblock %}