<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply Today</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <h2>Apply Today</h2>

        <h3>Your First Month is On Us</h3>

            <img src="../static/images/5.jpg" alt="" width="400px;">

            <p>Apply within a week of your tour and we will not only waive the $150 application fee, but will also
            cover your first month's rent. Once your application and approved, you will receive credit on your first
            month. Restrictions apply, speak to a leasing associate for details.</p>

                    <br />

</body>
</html>