{% extends "dashboard_base.html" %}
{% block title %}Billing{% endblock %}
{% block content %}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-8 my-4">
        <div class="card">
            <div class="card-header">Billing History</div>
            <div class="card-body">
                <p>Hello World</p>
            </div>
        </div>
        </div>

        <div class="col-sm-4 my-4">
            <div class="card">
                <div class="card-header">Payment Method</div>
                <div class="card-body">
                    <h5>Visa ending in 1234</h5>
                    <p>Expires 04/2026</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}