{% extends "dashboard_base.html" %}
{% block title %}Billing{% endblock %}
{% block content %}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-8 my-4">
        <div class="card">
            <div class="card-header">Billing History</div>
            <div class="card-body">
                <table class="table">
                  <thead>
                    <tr class="thead-light">
                      <th scope="col">Transaction ID</th>
                      <th scope="col">Date</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">39201</th>
                      <td>06/15/2020</td>
                      <td>$29.99</td>
                      <td>Pending</td>
                    </tr>
                    <tr>
                      <th scope="row">38594</th>
                      <td>05/15/2020</td>
                      <td>$29.99</td>
                      <td>Paid</td>
                    </tr>
                    <tr>
                      <th scope="row">38125</th>
                      <td>04/15/2020</td>
                      <td>$29.99</td>
                      <td>Paid</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        </div>

        <div class="col-sm-4 my-4">
            <div class="card">
                <div class="card-header">Payment Method</div>
                <div class="card-body">
                    <h5>Visa ending in 1234</h5>
                    <p>Expires 04/2026</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}