<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply Today</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <h1>Yorkshire Community Portal</h1>

    <img src="../static/images/13.jpg" alt="" width="100%;">

        <p><a href="/updatepass">Update Password</a> | <a href="/logout">Logout</a> </p>

        <h2>Welcome Home {{username}}!</h2>

            <p>Welcome to your online residential portal. Here you can access your account resources including other
                resources regarding your account management, billing, maintenance as well as local events, news and
                classifieds.</p>

                    <br />

    <p>
        <table cellspacing="20px">
            <tr style="text-align: center;">
                <td style="width:33%"><h2>Online Payment</h2></td>
                <td style="width:33%"><h2>Yorkshire Times</h2></td>
                <td style="width:33%"><h2>Community Events</h2></td>
            </tr>
            <tr style="text-align: center; vertical-align: top;">
                <td><img src="../static/images/14.jpg" width="100%"></td>
                <td><img src="../static/images/15.jpg" width="100%"></td>
                <td><img src="../static/images/16.jpg" width="100%"></td>
            </tr>
            <tr style="text-align: center; vertical-align: top;">
                <td><h3>Conveniently Pay Your Bills Online</h3></td>
                <td><h3>Our Community Newsletter</h3></td>
                <td><h3>Places to See and Things to Do</h3></td>
            </tr>
            <tr style="text-align: justify; vertical-align: top;">
                <td>Our online payment portal saves you a trip to our leasing office. Simply make a payment online
                    from the convenience of your home. All payments sent before 6 PM will be processed the same day.</td>
                <td>Find out what's happening in our community and stay up-to date with the local news and all the
                    events going on around you.</td>
                <td>Do you like museums, comedy clubs, breweries, wineries, whiskey-eries? Well whatever it is that
                you are into, know that our community has something for everybody.</td>
            </tr>
        </table>
    </p>

</body>
</html>