<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Yorkshire Residential Community</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<!-- Nav Bar -->

 <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/"><img src="../static/images/logo.svg" width="25" height="25" class="d-inline-block align-top" alt=""> Yorkshire Residential Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
      </ul>
      <form class="form-inline mt-2 mt-md-0" method="POST" action="/login">
        <input class="form-control mr-sm-2 my-2 form-control-sm" type="text" name="nm" placeholder="Username" required autofocus>
        <input class="form-control mr-sm-2 my-2 form-control-sm" type="password" name="np" placeholder="Password" required>
        <button class="btn btn-secondary my-2 btn-sm" type="submit" name="submit" value="Log In">Login</button>
      </form>
    </div>
 </nav>

<!-- Nav Bar End-->

<!-- Hero Image -->

<div class="parallax">
    <div class="container" id="header">
        <div class="container my-3" align="center"><img src="../static/images/logo.svg" class="header" width="100" height="100"></div>
        <h1 align="center">Yorkshire Residential Community</h1>
        <br/>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input class="form-control form-control-lg mr-sm-2 my-2" type="text" placeholder="Search" aria-label="Search">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-secondary my-2" type="submit">Search</button>
            </div>
        </div>
    </div>


</div>

<!-- Navigation Bar -->

<div class="container">
    <br />
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="/">Home</a>
          <a class="p-2 text-muted" href="/aboutus">About Us</a>
          <a class="p-2 text-muted" href="/properties">Property Listings</a>
          <a class="p-2 text-muted" href="/apply">Apply Today</a>
          <a class="p-2 text-muted" href="/login">Resident Login</a>
        </nav>
    <br />
    </div>

</div>

<!-- Welcome Message -->
<div class="jumbotron">
    <div class="container">
                <br/>
        <h2>Home Is Where The Heart Is</h2>
            <h3 class="text-muted">Here Is Where You Belong</h3>
        <br/>
                <p>Have you ever dreamed about waking up to a picturesque view overlooking Chesapeake? Maybe taking in
                the fragrance of the Black-eyed Susans on a park trail that leads back to your home on a Sunday evening?
                Well, look no further. You can have all that and more here at the Yorkshire Residential Community. We
                invite you to come and visit your new home where time just seems to stand still.</p>
        <br/>
                <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>
                <br/>
    </div>
</div>

<!-- Article 1 -->

<br/>

<div class="container">
    <div class="card mb-3 shadow-sm">
      <div class="row g-0">
        <div class="col-md-4 center-cropped">
            <img src="../static/images/10.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title text-muted ">The Essex</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <ul>
                        <li>1,050 Square Feet</li>
                        <li>Three Bedroom</li>
                        <li>Two Bathroom</li>
                        <li>Full Balcony</li>
                    </ul>
            <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
<br/>
    <div class="card mb-3 shadow-sm">
      <div class="row g-0">
        <div class="col-md-4 center-cropped">
          <img src="../static/images/11.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title text-muted">The Townends</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <ul>
                        <li>750 Square Feet</li>
                        <li>Two Bedroom</li>
                        <li>One Bathroom</li>
                        <li>Juliet Balcony</li>
                    </ul>
            <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
</div>

<br/>

<!-- Article 2 -->

<br/>

<div class="jumbotron">
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h4>Experience Our Community</h4>
                <h5 class="text-muted">Wholesome Living</h5>
                <br/>
                    <img src="../static/images/1.jpg" alt="" width="100%;">
                        <br/><br/>
                        <p>Located in the heart of downtown Annapolis, MD, our apartment homes are filled with wholesome residents
                            and plentiful amenities you are sure to enjoy. </p>
                        <br/>
                        <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>

            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h4>Explore The Downtown Lifestyle</h4>
                <h5 class="text-muted">Entertainment and Parks</h5>
                <br/>
                    <img src="../static/images/2.jpg" alt="" width="100%;">
                    <br/><br/>
                    <p>With some of the most exquisite food and live entertainment, you'll wonder if you have time to
                    experience them all. </p>
                    <br/>
                    <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <h4>First Time Apartment Shopping?</h4>
                <h5 class="text-muted">Learn More About Renting</h5>
                <br/>
                    <img src="../static/images/3.jpg" alt="" width="100%;">
                <br/><br/>
                    <p>We encourage you to follow these links to learn more about the apartment rental and what you need
                    about the rental process.</p>
                <br/>
                    <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>
            </div>
        </div>
    </div>
</div>
</div>

<br/>


<!--Article 3 -->

<br/>

<div class="container">
     <h2>Gallery</h2>
        <h3 class="text-muted">Take A Look At Our Family</h3>
            <img class="shadow-lg" src="../static/images/12.jpg" alt="" width="100%;">
    <br/>

</div>

<br/><br/><br/>
<br/>

<!-- Tour -->

  <div class="jumbotron">
    <div class="container">
      <h4 class="display-5">Schedule A Tour</h4>
        <h5 class="text-muted">Contact Our Leasing Office Today</h5>
      <p>Our leasing office is from 10 AM to 6 PM and we are open 7 days a week. Book a tour today. We welcome
            both appointments and walk-ins.</p>
      <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>
    </div>
  </div>

<!-- Footer -->

<div class="container">
    <!-- Datetime Begins-->
        <h6 align="center">{{ todaydate }}</h6>
    <!-- Datetime Ends -->
    <p align="center">&copy; 2020 by Francis Bui</p>
<br/>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>