{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<!-- Sign In -->

<div class="jumbotron">
    <div class="container text-center">

                <form style="display: inline-block;" method="POST" action="/login">
                    <img class="mb-4" src="../static/images/logo.svg" alt="" width="72" height="72">
                    <h2>Resident Login</h2>
                    <p>Welcome back! To access your account  <br/> please enter your credentials in the form below.</p>
                        <input type="text" name="nm" class="form-control form-control-lg my-3" placeholder="Email" required autofocus>
                        <input type="password" name="np" class="form-control form-control-lg my-3" placeholder="Password" required>
                        <button class="btn btn-lg btn-secondary btn-block" type="submit" name="submit" value="Log In">Login</button>
                </form>
            <br/><br/>
        <h5 class="text-danger">{{ taken }}</h5>
    </div>
    <div class="container text-center">
        <br />
        <h4>Create An Account</h4>
        <p>Are you a current resident? <a href="/register">Register today</a>.</p>
        <p>Register to get access your account  <br/> information convenient online payment services.</p>
        <br />
    </div>
</div>

{% endblock %}