<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Yorkshire Residential Community | Apply Today</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>




<!-- Navigation Bar -->


 <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/"><img src="../static/images/logo.svg" width="25" height="25" class="d-inline-block align-top" alt=""> Yorkshire Residential Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2 my-2 form-control-sm" type="text" placeholder="Username" aria-label="Search">
        <input class="form-control mr-sm-2 my-2 form-control-sm" type="password" placeholder="Password" aria-label="Search">
        <button class="btn btn-secondary my-2 btn-sm" type="submit">Login</button>
      </form>
    </div>
 </nav>




<!-- Navigation Menu -->

<div class="container">
    <br />
    <div class="nav-scroller py-1 mb-0 mt-2">
        <nav class="nav d-flex justify-content-between mt-5">
          <a class="p-2 text-muted" href="/">Home</a>
          <a class="p-2 text-muted" href="/aboutus">About Us</a>
          <a class="p-2 text-muted" href="/properties">Property Listings</a>
          <a class="p-2 text-muted" href="/apply">Apply Today</a>
          <a class="p-2 text-muted" href="/login">Resident Login</a>
        </nav>
    <br />
    </div>

</div>



<!-- Sign In -->

<div class="jumbotron">
    <div class="container text-center">

                <form style="display: inline-block;" method="POST" action="/login">
                    <img class="mb-4" src="../static/images/logo.svg" alt="" width="72" height="72">
                    <h2>Resident Login</h2>
                    <p>Welcome back! To access your account please enter your credentials in the form below.</p>
                        <input type="text" name="nm" class="form-control form-control-lg my-3" placeholder="Username" required autofocus>
                        <input type="password" name="np" class="form-control form-control-lg my-3" placeholder="Password" required>
                        <button class="btn btn-lg btn-secondary btn-block" type="submit" name="submit" value="Log In">Login</button>
                </form>
            <br/><br/>
        <h5>{{ taken }}</h5>
    </div>
    <div class="container text-center">
        <br />
        <h4>Create An Account</h4>
            <p>Register today to get access your account information convenient online payment services.</p>
            <p>Are you a current resident? <a href="/register">Register today</a>.</p>
        <br />
    </div>
</div>

<!--    <h2>Resident Login</h2>-->

<!--        <h3>Access Your Account</h3>-->

<!--            <p>Welcome back! To access your account please enter your credentials in the form below.</p>-->

<!--                <br />-->

<!--                <form method="POST" action="/login">-->
<!--                    <table>-->
<!--                    <tr>-->
<!--                        <td align="right">Username</td>-->
<!--                        <td><input type="text" name="nm" /></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td align="right">Password</td>-->
<!--                        <td><input type="password" name="np" /></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td></td>-->
<!--                        <td align="right"><input type="submit" name="submit" value="Log In"/></td>-->
<!--                    </tr>-->
<!--                    </table>-->
<!--                </form>-->

<!--    <p><h5>{{ taken }}</h5></p>-->

<!--                    <br />-->

<!--        <h3>Create An Account</h3>-->

<!--        <p>Register today to get access your account information convenient online payment services.</p>-->
<!--        <p>Are you a current resident? <a href="/register">Register today</a>.</p>-->

<!--        <br />-->



<!-- Footer -->

<div class="container">
    <!-- Datetime Begins-->
        <h6 align="center">{{ todaydate }}</h6>
    <!-- Datetime Ends -->
    <p align="center">&copy; 2020 by Francis Bui</p>
<br/>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>












<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<!--    <title>Resident Login</title>-->
<!--    <link rel="stylesheet" href="../static/style.css">-->
<!--</head>-->
<!--<body>-->

<!--    <h2>Resident Login</h2>-->

<!--        <h3>Access Your Account</h3>-->

<!--            <p>Welcome back! To access your account please enter your credentials in the form below.</p>-->

<!--                <br />-->

<!--                <form method="POST" action="/login">-->
<!--                    <table>-->
<!--                    <tr>-->
<!--                        <td align="right">Username</td>-->
<!--                        <td><input type="text" name="nm" /></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td align="right">Password</td>-->
<!--                        <td><input type="password" name="np" /></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td></td>-->
<!--                        <td align="right"><input type="submit" name="submit" value="Log In"/></td>-->
<!--                    </tr>-->
<!--                    </table>-->
<!--                </form>-->

<!--    <p><h5>{{ taken }}</h5></p>-->

<!--                    <br />-->

<!--        <h3>Create An Account</h3>-->

<!--        <p>Register today to get access your account information convenient online payment services.</p>-->
<!--        <p>Are you a current resident? <a href="/register">Register today</a>.</p>-->

<!--        <br />-->
<!--</body>-->
<!--</html>-->