{% extends "dashboard_base.html" %}
{% block title %}Notifications{% endblock %}
{% block content %}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-8 my-4">
        <div class="card">
            <div class="card-header">Email Notifications</div>
            <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Default notification email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="defaultCheck1" value="" checked>
                      <label class="form-check-label" for="defaultCheck1">
                        Changes made to your account
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="defaultCheck2" value="">
                      <label class="form-check-label" for="defaultCheck2">
                        Marketing and promotional offers
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="defaultCheck3" value="" >
                      <label class="form-check-label" for="defaultCheck3">
                        Security alerts
                      </label>
                    </div>
                  <button type="submit" class="btn btn-primary my-2">Submit</button>
                </form>
            </div>
        </div>
        </div>

        <div class="col-sm-4 my-4">
            <div class="card">
                <div class="card-header">Notification Preferences</div>
                <div class="card-body">
                <form>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="pushCheck2" value="">
                      <label class="form-check-label" for="pushCheck2">
                        Automatically subscribe to group notifications
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="pushCheck3" value="" >
                      <label class="form-check-label" for="pushCheck3">
                        Automatically subscribe to all security alerts
                      </label>
                    </div>
                  <button type="submit" class="btn btn-primary my-2">Submit</button>
                </form>
                </div>
            </div>
        </div>

        <div class="col-sm-8 my-4">
        <div class="card">
            <div class="card-header">Push Notifications</div>
            <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="inputNumber">Default SMS number</label>
                    <input type="number" class="form-control" id="inputNumber" placeholder="123-456-7890">
                  </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="pushCheck1" value="" checked>
                      <label class="form-check-label" for="pushCheck1">
                        Changes made to your account
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="pushCheck2" value="">
                      <label class="form-check-label" for="pushCheck2">
                        Marketing and promotional offers
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="pushCheck3" value="" >
                      <label class="form-check-label" for="pushCheck3">
                        Security alerts
                      </label>
                    </div>
                  <button type="submit" class="btn btn-primary my-2">Submit</button>
                </form>
            </div>
        </div>
        </div>

    </div>
</div>

{% endblock %}