<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Listings</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <h2>Property Listings</h2>

        <p>Listings are updated daily. Please check back regularly for current availabilities.</p>
        <p>Come fall in love with our remodeled kitchen and bathroom that are both luxurious and inviting.</p>
            <ol style="list-style-type: lower-roman;">
                <li>Marble kitchen counter-tops</li>
                <li>Cherry oak herringbone flooring</li>
                <li>Stainless steel appliances</li>
                <li>Crowsfoot porcelein bathtub</li>
                <li>Sliding glass shower</li>
            </ol>

            <br />

        <h3>The Essex</h3>

            <img src="../static/images/10.jpg" alt="" width="400px;">

            <p>
                <ul>
                    <li>1,050 Square Feet</li>
                    <li>Three Bedroom</li>
                    <li>Two Bathroom</li>
                    <li>Full Balcony</li>
                </ul>
            </p>

                    <br />

        <h3>The Townends</h3>

        <img src="../static/images/11.jpg" alt="" width="400px;">

            <p>
                <ul>
                    <li>750 Square Feet</li>
                    <li>Two Bedroom</li>
                    <li>One Bathroom</li>
                    <li>Juliet Balcony</li>
                </ul>
            </p>

                    <br />

</body>
</html>