<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Yorkshire Residential Community | Properties Listings</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>




<!-- Navigation Bar -->


 <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/"><img src="../static/images/logo.svg" width="25" height="25" class="d-inline-block align-top" alt=""> Yorkshire Residential Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2 my-2 form-control-sm" type="text" placeholder="Username" aria-label="Search">
        <input class="form-control mr-sm-2 my-2 form-control-sm" type="password" placeholder="Password" aria-label="Search">
        <button class="btn btn-secondary my-2 btn-sm" type="submit">Login</button>
      </form>
    </div>
 </nav>




<!-- Navigation Menu -->


<div class="container">
    <br />
    <div class="nav-scroller py-1 mb-0 mt-2">
        <nav class="nav d-flex justify-content-between mt-5">
          <a class="p-2 text-muted" href="/">Home</a>
          <a class="p-2 text-muted" href="/aboutus">About Us</a>
          <a class="p-2 text-muted" href="/properties">Property Listings</a>
          <a class="p-2 text-muted" href="/apply">Apply Today</a>
          <a class="p-2 text-muted" href="/login">Resident Login</a>
        </nav>
    <br />
    </div>

</div>




<!-- Main -->


<div class="jumbotron">
    <div class="container">
                <br/>
    <h2>Property Listings</h2>
        <h3 class="text-muted">Available For Rent</h3>
        <br/>
        <p>Listings are updated daily. Please check back regularly for current availabilities. All of our apartments
            include remodeled kitchens and bathrooms that are both luxurious and inviting.</p>
            <ol style="list-style-type: lower-roman;">
                <li>Marble kitchen counter-tops</li>
                <li>Cherry oak herringbone flooring</li>
                <li>Stainless steel appliances</li>
                <li>Crowsfoot porcelein bathtub</li>
                <li>Sliding glass shower</li>
            </ol>

            <br />

                <br/>
    </div>
</div>




<!--Article 1 -->


<br/>

<div class="container">
    <div class="card text-center shadow-sm">
      <div class="card-header">
        The Townsends
      </div>
      <div class="card-body">
        <h5 class="card-title">Two Bedrooms</h5>
        <p class="card-text">
            <img src="../static/images/10.jpg" alt="" width="400px;">
                    <p>750 Square Feet</p>
                    <p>Two Bedroom</p>
                    <p>One Bathroom</p>
                    <p>Juliet Balcony</p>
        </p>
        <a href="#" class="btn btn-secondary">Reserve</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
</div>

<br/>

<div class="container">
    <div class="card text-center shadow-sm">
      <div class="card-header">
        The Essex
      </div>
      <div class="card-body">
        <h5 class="card-title">Three Bedrooms</h5>
        <p class="card-text">
            <img src="../static/images/10.jpg" alt="" width="400px;">
                    <p>1,050 Square Feet</p>
                    <p>Three Bedroom</p>
                    <p>Two Bathroom</p>
                    <p>Full Balcony</p>
        </p>
        <a href="#" class="btn btn-secondary">Reserve</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
</div>


<br/><br/>
<br/>

<!-- Tour -->

  <div class="jumbotron">
<div class="container-fluid">
<div class="row">
  <div class="col-sm-6">
    <div class="card my-3">
      <div class="card-body shadow-sm">
        <h5 class="card-title">Get Your First Month Free!</h5>
        <p class="card-text">Requires 12 month contract. Please speak with a leasing agent for details.</p>
        <a href="#" class="btn btn-secondary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card my-3">
      <div class="card-body shadow-sm">
        <h5 class="card-title">Free Parking</h5>
        <p class="card-text">For a limited time we are offering free unlimited garaged parking.</p>
        <a href="#" class="btn btn-secondary">Learn More</a>
      </div>
    </div>
  </div>
</div>
</div>  </div>

<!-- Footer -->

<div class="container">
    <!-- Datetime Begins-->
        <h6 align="center">{{ todaydate }}</h6>
    <!-- Datetime Ends -->
    <p align="center">&copy; 2020 by Francis Bui</p>
<br/>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>









<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Property Listings</title>-->
<!--    <link rel="stylesheet" href="../static/style.css">-->
<!--</head>-->
<!--<body>-->






<!--        <h3>The Essex</h3>-->

<!--            <img src="../static/images/10.jpg" alt="" width="400px;">-->

<!--            <p>-->
<!--                <ul>-->
<!--                    <li>1,050 Square Feet</li>-->
<!--                    <li>Three Bedroom</li>-->
<!--                    <li>Two Bathroom</li>-->
<!--                    <li>Full Balcony</li>-->
<!--                </ul>-->
<!--            </p>-->

<!--                    <br />-->

<!--        <h3>The Townends</h3>-->

<!--        <img src="../static/images/11.jpg" alt="" width="400px;">-->

<!--            <p>-->
<!--                <ul>-->
<!--                    <li>750 Square Feet</li>-->
<!--                    <li>Two Bedroom</li>-->
<!--                    <li>One Bathroom</li>-->
<!--                    <li>Juliet Balcony</li>-->
<!--                </ul>-->
<!--            </p>-->

<!--                    <br />-->

<!--</body>-->
<!--</html>-->