{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="jumbotron">
    <div class="container text-center">
        <form style="display: inline-block;" method="POST" action="/register">
            <img class="mb-4" src="../static/images/logo.svg" alt="" width="72" height="72">
            <h2>Register Today!</h2>
            <p>Create an account to access pay your rent, <br/> review documents, schedule maintenance, and more</p>
                <input type="text" name="nm" class="form-control form-control-lg my-3" placeholder="Username" required autofocus>
                <input type="password" name="np" class="form-control form-control-lg my-3" placeholder="Password" required>
                <button class="btn btn-lg btn-secondary btn-block" type="submit" name="submit" value="Register">Register</button>
            <br/>
            <h5 class="text-danger">{{ taken }}</h5>
        </form>
    </div>
</div>

{% endblock %}