<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portal Registration</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <h2>Change Password</h2>

        <h3>Update Password</h3>

            <p>Choosing a secure password ensures that no one other than yourself may access your account. If your
            password does not meet our security requirements, you will be asked to enter a more secure password.</p>

                <br />

                <form method="POST" action="/updatepass">
                    <table>
                    <tr>
                        <td align="right">Username</td>
                        <td><input type="text" name="nm" /></td>
                    </tr>
                    <tr>
                        <td align="right">Current Password</td>
                        <td><input type="password" name="np" /></td>
                    </tr>
                    <tr>
                        <td align="right">New Password</td>
                        <td><input type="password" name="nw" /></td>
                    </tr>
                    <tr>
                        <td align="right">Confirm Password</td>
                        <td><input type="password" name="cp" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="right"><input type="submit" name="submit" value="Update"/></td>
                    </tr>
                    </table>
                </form>
    <p><h5>{{ taken }}</h5></p>
        <br />
</body>
</html>