<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Yorkshire Residential Community | Properties Listings</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>




<!-- Navigation Bar -->


 <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/"><img src="../static/images/logo.svg" width="25" height="25" class="d-inline-block align-top" alt=""> Yorkshire Residential Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2 my-2 form-control-sm" type="text" placeholder="Username" aria-label="Search">
        <input class="form-control mr-sm-2 my-2 form-control-sm" type="password" placeholder="Password" aria-label="Search">
        <button class="btn btn-secondary my-2 btn-sm" type="submit">Login</button>
      </form>
    </div>
 </nav>




<!-- Navigation Menu -->


<div class="container">
    <br />
    <div class="nav-scroller py-1 mb-0 mt-2">
        <nav class="nav d-flex justify-content-between mt-5">
          <a class="p-2 text-muted" href="/">Home</a>
          <a class="p-2 text-muted" href="/aboutus">About Us</a>
          <a class="p-2 text-muted" href="/why">Why Yorkshire</a>
          <a class="p-2 text-muted" href="/properties">Property Listings</a>
          <a class="p-2 text-muted" href="/apply">Apply Today</a>
          <a class="p-2 text-muted" href="/login">Resident Login</a>
        </nav>
    <br />
    </div>

</div>




<!-- Main -->


<div class="jumbotron">
    <div class="container">
                <br/>
    <h2>Why Yorkshire Residential Community?</h2>
        <h3 class="text-muted">Luxury Living Simply</h3>
        <br/>
        <p>Our community offers engaging and fun activities weekly .Additionally, we are located in the heart of
            old town Annapolis which is the epcot for shopping, dining and sightseeing.</p>
        <br/>
    </div>
</div>


<!--Article 1 -->


<div class="container">
    <div class="card mb-3 shadow-sm">
      <div class="row g-0">
        <div class="col-md-4 center-cropped">
            <img src="../static/images/14.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title text-muted ">Convenient Online Bill Pay</h4>
            <p class="card-text">
                Our online payment portal saves you a trip to our leasing office. Simply make a payment online from
                the convenience of your home. All payments sent before 6 PM will be processed the same day.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
<br/>
    <div class="card mb-3 shadow-sm">
      <div class="row g-0">
        <div class="col-md-4 center-cropped">
          <img src="../static/images/15.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title text-muted">Yorkshire Community Newsletter</h4>
            <p class="card-text">
                Find out what's happening in our community and stay up-to date with the local news and all the events
                happening on around you.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
<br/>
    <div class="card mb-3 shadow-sm">
      <div class="row g-0">
        <div class="col-md-4 center-cropped">
          <img src="../static/images/16.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title text-muted">Local Events and Entertainment</h4>
            <p class="card-text">
                Do you like museums, comedy clubs, breweries, wineries, whiskey-eries? Well whatever it is that you
                are into, know that our community has something for everybody.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
</div>

<br/>



<!-- Tour -->

  <div class="jumbotron">
<div class="container-fluid">
<div class="row">
  <div class="col-sm-6">
    <div class="card my-3">
      <div class="card-body shadow-sm">
        <h5 class="card-title">Get Your First Month Free!</h5>
        <p class="card-text">Requires 12 month contract. Please speak with a leasing agent for details.</p>
        <a href="#" class="btn btn-secondary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card my-3">
      <div class="card-body shadow-sm">
        <h5 class="card-title">Free Parking</h5>
        <p class="card-text">For a limited time we are offering free unlimited garaged parking.</p>
        <a href="#" class="btn btn-secondary">Learn More</a>
      </div>
    </div>
  </div>
</div>
</div>  </div>

<!-- Footer -->

<div class="container">
    <!-- Datetime Begins-->
        <h6 align="center">{{ todaydate }}</h6>
    <!-- Datetime Ends -->
    <p align="center">&copy; 2020 by Francis Bui</p>
<br/>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>>