{% extends "base.html" %}
{% block title %}Why Yorkshire{% endblock %}
{% block content %}

<!-- Main -->


<div class="jumbotron">
    <div class="container">
                <br/>
    <h2>Why Yorkshire Residential Community?</h2>
        <h3 class="text-muted">Luxury Living Simply</h3>
        <br/>
        <p>Our community offers engaging and fun activities weekly .Additionally, we are located in the heart of
            old town Annapolis which is the epcot for shopping, dining and sightseeing.</p>
        <br/>
    </div>
</div>


<!--Article 1 -->


<div class="container">
    <div class="card mb-3 shadow-sm">
      <div class="row g-0">
        <div class="col-md-4 center-cropped">
            <img src="../static/images/14.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title text-muted ">Convenient Online Bill Pay</h4>
            <p class="card-text">
                Our online payment portal saves you a trip to our leasing office. Simply make a payment online from
                the convenience of your home. All payments sent before 6 PM will be processed the same day.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
<br/>
    <div class="card mb-3 shadow-sm">
      <div class="row g-0">
        <div class="col-md-4 center-cropped">
          <img src="../static/images/15.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title text-muted">Yorkshire Community Newsletter</h4>
            <p class="card-text">
                Find out what's happening in our community and stay up-to date with the local news and all the events
                happening on around you.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
<br/>
    <div class="card mb-3 shadow-sm">
      <div class="row g-0">
        <div class="col-md-4 center-cropped">
          <img src="../static/images/16.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title text-muted">Local Events and Entertainment</h4>
            <p class="card-text">
                Do you like museums, comedy clubs, breweries, wineries, whiskey-eries? Well whatever it is that you
                are into, know that our community has something for everybody.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
</div>

<br/>



<!-- Tour -->

  <div class="jumbotron">
<div class="container-fluid">
<div class="row">
  <div class="col-sm-6">
    <div class="card my-3">
      <div class="card-body shadow-sm">
        <h5 class="card-title">Get Your First Month Free!</h5>
        <p class="card-text">Requires 12 month contract. Please speak with a leasing agent for details.</p>
        <a href="#" class="btn btn-secondary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card my-3">
      <div class="card-body shadow-sm">
        <h5 class="card-title">Free Parking</h5>
        <p class="card-text">For a limited time we are offering free unlimited garaged parking.</p>
        <a href="#" class="btn btn-secondary">Learn More</a>
      </div>
    </div>
  </div>
</div>
</div>  </div>

{% endblock %}